.wrapperSearch {
    position: absolute;
    width: 90%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchBox {
    position: relative;
    max-width: 80%;
    text-align: center;
    margin: 50px auto;
    background-color: var(--bg);
    border-radius: 10px;
    transform: translateY(100%);
    border: 1px solid var(--text-light);
    z-index: 1;
}

.travelBox {
    position: relative;
    padding-bottom: 25px;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: var(--bg-hover);
        backdrop-filter: blur(5px);
        border-radius: 10px;
        z-index: -1;
    }

    h3 {
        color: var(--white);
        padding: 30px 0px 10px 35px;
    }
}

.carousel {
    width: 95%;
    overflow: hidden;
    margin: auto;
    cursor: grab;
}

.cardBox {
    width: 100%;
    margin: 10px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    position: relative;
    min-width: 230px;
    min-height: 150px;
    overflow: hidden;
    margin-right: 3%;
    user-select: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);

    img {
        transition: all linear 0.5s;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.star {
    width: 55px;
    height: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    color: var(--black);
    background-color: var(--white);
    border-radius: 10px;
}

.faStar {
    color: var(--primary);
    margin-right: 2px;
}

.group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: var(--white);
}

.text {
    text-transform: capitalize;
    letter-spacing: 1.5px;

    strong {
        font-size: 1.6rem;
        font-weight: 700;
    }

    span {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
        font-size: 0.8rem;
        font-weight: 500;
    }
}

.price {
    font-size: 1.3rem;
    font-weight: 700;
}
