.wrapperSearch {
    position: absolute;
    width: 90%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #000;
}

.searchBox {
    position: relative;
    transform: translateY(100%);
    z-index: 1;
}

.travelBox {
    position: relative;
    padding-bottom: 25px;
    box-shadow: 0px 20px 25px -10px #a5a5a5;

    border: 1px solid #000;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #23272f;
        backdrop-filter: blur(0px);
        border-radius: 10px;
        z-index: -1;
    }

    h3 {
        color: #0ea5e9;
        margin: 0;
        padding: 30px 0px 10px 35px;
    }
}

.cardBox {
    width: 95%;
    margin: 10px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #000;
}

.card {
    width: 230px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    user-select: none;
    cursor: pointer;

    img {
        transition: all linear 0.5s;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.star {
    background: #fff;
    color: #333;
    border-radius: 10px;
    width: 55px;
    height: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 25px;
    box-shadow: 2px 20px 30px var(--shadow-color);
}

.faStar {
    color: var(--primary);
    margin-right: 2px;
}

.group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
}

.text {
    strong {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: capitalize;
    }

    span {
        display: flex;
        gap: 5px;
        margin-top: 10px;
        font-size: 0.8rem;
        color: #e6e6e6;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: capitalize;
    }
}

.price {
    font-size: 1.3rem;
    font-weight: 700;
}

@media (max-width: 600px) {
    .contentBox {
        margin: 0 30px;

        h1 {
            font-size: 1.9rem;
            line-height: 2.3rem;
        }
    }
}
