.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1504814532849-cff240bbc503?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 60%;
    height: 70vh;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow-primary);
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);

    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin: auto;
        margin-top: 40px;
        user-select: none;
    }
}

.login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
    background-color: var(--primary);
    user-select: none;

    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    p {
        width: 80%;
        font-size: 14px;
        letter-spacing: 1px;
        margin: 20px 0 30px;
        color: var(--white);
    }
}

.login-form {
    width: 85%;
    height: 100%;
    margin-top: 15px;

    &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var(--primary);

        hr {
            border: 0.5px solid var(--text-light);
        }
    }

    &-footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-top: 20px;
    }
}
