.card {
    width: 320px;
    height: 370px;
    padding: 15px;
    background-color: var(--white);
    border: 1px solid var(--text-light);
    border-radius: 10px;
    transition: all ease 0.3s;

    &:hover {
        border: 1px solid transparent;
        box-shadow: var(--box-shadow-primary);
    }

    hr {
        border: 1px solid var(--text-light);
    }
}

.title {
    color: var(--text-light);
    text-transform: capitalize;

    span {
        &:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 0.75rem;
        }

        &:nth-child(2) {
            display: block;
            font-weight: 600;
            margin: 10px 0;
            letter-spacing: 1px;
        }
    }

    .faLocationDot {
        width: 12px;
        color: var(--primary);
        text-align: center;
        line-height: 20px;
        padding: 5px;
        margin-right: 10px;
        border: 1px solid var(--primary);
        border-radius: 50%;
    }
}

.imgContainer {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    overflow: hidden;
}

.text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
    gap: 15px;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-light);

    .faStar,
    .faShoePrints,
    .faCalendarDays {
        color: var(--primary);
        margin-right: 5px;
    }
}

.price {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    color: var(--text-light);
}
