.wrapperProfile {
    width: fit-content;
    position: relative;
    display: flex;
    gap: 25px;
    padding-top: 15vh;
    margin: auto;
    font-size: 0.9rem;
}

.sideLeft {
    min-width: 300px;
    height: fit-content;
    padding: 10px 0;
    overflow: hidden;
    background-color: var(--bg);
    border: 1px solid var(--text-light);
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);
}

.avatarBox {
    display: flex;
    padding: 0 15px 10px 15px;
    align-items: center;
    gap: 10px;

    img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.nameBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;

    span:last-child {
        font-weight: 400;
    }
}

.chooseItem {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    font-weight: 500;
    cursor: pointer;

    &:first-child,
    &:last-child {
        border-top: 1px solid var(--text-light);
    }

    &:hover {
        background-color: rgba(210, 210, 210, 0.25);
    }

    .faRectangleList,
    .faListCheck,
    .faUser,
    .faCreditCard,
    .faRightFromBracket {
        color: var(--primary);
        width: 20px;
    }
}

///////////////////////////////////////////////////////////
///
.sideRight {
    min-width: 830px;
}
