.myBooking {
    padding: 15px;
    background-color: var(--bg);
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);

    h3 {
        user-select: none;
    }
}

.myBookingHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filterBox {
    min-width: 150px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--text-light);
}

.myBookingTable {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.25);

    th,
    td {
        padding: 8px;
        text-align: center;
    }
}

.tableHead tr th {
    font-weight: 500;
    border-bottom: 1px solid var(--text-light);
}

.tableBody {
    tr {
        border-bottom: 1px solid var(--text-light);
    }

    tr td {
        &:nth-child(1) {
            img {
                width: 50px;
                height: 65px;
                border-radius: 5px;
            }
        }

        &:nth-child(4) span {
            padding: 5px;
            font-size: 0.8rem;
            color: var(--white);
            border-radius: 5px;
        }
    }

    .Success {
        background-color: green;
    }

    .Pending {
        background-color: yellowgreen;
    }

    .Cancel {
        background-color: darkgray;
    }

    .Expired {
        background-color: red;
    }

    .faEye {
        color: var(--primary);
        cursor: pointer;
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    font-weight: 600;

    button {
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
            background-color: rgb(226 232 240);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .pageActive {
        color: var(--primary);
    }
}

///////////////////////////////////////////////////////////
///
.modalBackground {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.25);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: scroll;
    padding: 15px 20px;
    background-color: var(--bg);
    border-radius: 5px;
    box-shadow: var(--box-shadow-primary);
    z-index: 1000;

    h2 {
        text-align: center;
        background: -webkit-linear-gradient(90deg, #007cf0, #00dfd8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

///////////////////////////
///
.closeBtn {
    position: absolute;
    top: 30px;
    right: 20px;
}

.orderDetails {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--box-shadow-primary);

    h3,
    label {
        font-size: 18px;
        font-weight: 500;
        color: var(--black);
    }

    h3 {
        padding: 15px 20px;
    }

    label {
        padding: 15px 20px;
        padding-bottom: 8px;
    }

    textarea {
        width: auto;
        margin: 0px 15px;
    }
}

.orderTour {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-top: 1px solid var(--text-light);

    img {
        width: 155px;
        height: 100px;
        border-radius: 10px;
    }
}

.orderTourInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;

    h4 {
        font-weight: 500;
    }

    span {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 0.9rem;
    }

    .faLocationDot,
    .faCalendarDays {
        width: 15px;
    }
}

.billDetails {
    li {
        display: flex;
        padding: 15px 20px;
        border-top: 1px solid var(--text-light);

        span:first-child {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 25%;
        }
    }

    .faBarcode,
    .faCalendarDays,
    .faUsers,
    .faMoneyBill,
    .faUser,
    .faEnvelope,
    .faPhone {
        width: 1.2rem;
    }
}

.rating svg {
    width: 25px;
    height: 29px;
    display: inline-flex;

    &:first-child {
        margin-left: 16px;
    }
}

.sendBtn {
    display: flex;
    justify-content: center;
    padding: 20px 15px;
}

.cancelBtn {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
