//------------------------------ Section Home
.wrapperHome {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;

    border: 1px solid #000;
}

.videos {
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.25));
    }

    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        opacity: 0;
        transition: opacity 1s;
    }
}

video.live {
    opacity: 1;
}

.videoControls {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-150%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    padding: 20px;
    z-index: 1;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-inline: 1.2rem;
        line-height: 3.8rem;
        margin: 10px 0;
        color: #fff;
        margin: 0 15px;
    }

    svg {
        width: 4rem;
        fill: #fff;
        cursor: pointer;
        transition: ease-in-out 0.15s;
    }
}

.prev:hover {
    transform: translateX(-5px);
}

.next:hover {
    transform: translateX(5px);
}

.contentBox {
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-85%);
    margin: 0 25px;
    padding: 20px;
    z-index: 1;

    strong {
        color: #fefefe;
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 3.8rem;
        margin: 10px 0;
        color: #fff;
    }

    p {
        font-size: 0.9rem;
        color: #fefefe;
    }
}

//------------------------------ Section Search

.wrapperSearch {
    position: absolute;
    width: 90%;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #000;
}

.searchBox {
    position: relative;
    transform: translateY(120%);
    z-index: 1;
}

.travelBox {
    position: relative;
    padding-bottom: 20px;
    box-shadow: 0px 20px 25px -10px #a5a5a5;

    border: 1px solid #000;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #f1f1f1b3;
        backdrop-filter: blur(0px);
        border-radius: 20px;
        z-index: -1;
    }

    h3 {
        margin: 0px;
        padding: 30px 0px 15px 3%;
    }
}

.cardBox1 {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #000;
}

@media (max-width: 600px) {
    .contentBox {
        margin: 0 30px;

        h1 {
            font-size: 1.9rem;
            line-height: 2.3rem;
        }
    }
}

//------------------------------ Section 2
.wrapperTrending {
    background-color: var(--bg-secondary);
    width: 90%;
    // max-width: var(--max-width);
    margin: var(--margin);
    padding: 70px 0;
    border-radius: 20px;
    overflow: hidden;
}

.heading {
    width: 90%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px auto;
    padding: 0px 20px;
}

.card {
    // width: 100%;
    max-width: 350px;
    max-height: 370px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    transition: all ease 0.3s;

    &:hover {
        box-shadow: 2px 20px 30px var(--shadow-color-hover);
    }

    hr {
        width: 100%;
        border: 1px solid var(--border-color);
    }
}

.title {
    span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: var(--secondary);
        font-size: 0.75rem;
        text-transform: capitalize;
    }

    a {
        display: block;
        color: var(--main);
        font-weight: 600;
        margin: 10px 0;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    .faLocationDot {
        background-color: var(--bg-primary);
        color: var(--primary);
        // width: 20px;
        // height: 20px;
        padding: 5px 5.5px;
        text-align: center;
        line-height: 20px;
        margin-right: 10px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
    }
}

.imgContainer {
    width: 100%;
    height: 160px;
    border-radius: 8px;
    overflow: hidden;
}

.text {
    margin: 15px 0;
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.faShoePrints,
.faCompass,
.faCalendarDays {
    color: var(--primary);
    margin-right: 5px;
}

.price {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    p {
        color: var(--main);
        font-weight: 700;
    }

    span {
        color: var(--secondary);
        font-size: 0.62rem;
    }

    a {
        width: 120px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: var(--primary);
        border: 1px solid var(--bg-primary);
        border-radius: 8px;
        font-size: 0.9rem;
        font-weight: 500;
        letter-spacing: 1px;
        transition: all ease 0.3s;

        &:hover {
            background-color: var(--bg-primary);
            color: var(--primary);
        }
    }
}
