.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 64px 16px 12px 16px;

    border: 1px solid #000;
}

.titleBox {
    text-align: center;
    margin-bottom: 32px;
    padding: 22px 0;
    letter-spacing: 2px;
    text-transform: uppercase;

    h2 {
        font-size: 1.8rem;
    }

    span {
        display: block;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2;
        margin: auto;
        padding-bottom: 16px;
        color: #787878;
    }
}

.aboutBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    align-items: center;
}

.aboutLeft {
    img {
        border-radius: 10px;
    }
}

.aboutRight {
    letter-spacing: 1px;
    h2 {
        margin-bottom: 40px;
    }
    p {
        margin-bottom: 16px;
        line-height: 25px;
        text-align: justify;
        text-justify: inter-word;
    }
}
