.myWishlist {
    padding: 15px;
    background-color: var(--bg);
    border-radius: 10px;
    border: 1px solid var(--text-light);
    box-shadow: var(--box-shadow-primary);
}

.myWishlistHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
}

.filterBox {
    min-width: 150px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--text-light);
}

.myWishlistTable {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.25);

    th,
    td {
        padding: 8px;
        text-align: center;
    }
}

.tableHead tr th {
    font-weight: 500;
    border-bottom: 1px solid var(--text-light);
}

.tableBody {
    tr {
        border-bottom: 1px solid var(--text-light);
    }

    tr td {
        &:nth-child(1) {
            display: flex;
            justify-content: center;

            img {
                width: 50px;
                height: 65px;
                border-radius: 5px;
            }
        }

        &:nth-child(4) span {
            padding: 5px;
            font-size: 0.8rem;
            color: var(--white);
            border-radius: 5px;
            background-color: green;
            // background-color: red;
            // background-color: darkgray;
            // background-color: yellowgreen;
            // background-color: var(--primary);
        }

        &:nth-child(6) {
            color: var(--primary);
            cursor: pointer;
        }
    }
}
