.wrapperTrending {
   width: 95%;
   margin: 0 auto;
   padding: 5% 2% 2% 2%;
   overflow: hidden;
   background-color: var(--bg-hover);
   border-radius: 0 0 10px 10px;
   box-shadow: var(--box-shadow-primary);
}

.titleBox {
   position: relative;
   margin-left: 20px;
   padding: 20px 0;
   text-align: start;
   text-transform: capitalize;
   letter-spacing: 1.5px;

   h2 {
      font-size: 2.5rem;
   }

   span {
      display: block;
      margin: auto;
      font-weight: 300;
      font-size: 1.15rem;
      line-height: 1.75;
      color: var(--text-light);
   }
}

.paginationBox {
   position: absolute;
   top: 40%;
   right: 1.75%;
   width: 15%;
   padding: 8px 0 8px 5px;
   display: flex;
   align-items: center;
   user-select: none;
   box-shadow: var(--box-shadow-primary);
   border-radius: 5px;
}

.numPage {
   width: 50%;
   text-align: center;
   font-size: 0.9rem;
   letter-spacing: 0.5px;
}

.prev,
.next {
   width: 25%;
   font-size: 1.75rem;
   text-align: center;
   cursor: pointer;

   &:hover {
      color: var(--primary);
   }

   &:active {
      color: var(--black);
   }
}

.wrapper {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 20px;
   margin: 15px auto;
   padding: 0px 20px;
}
