.myCards {
    padding: 15px;
    background-color: var(--bg);
    border-radius: 10px;
    border: 1px solid var(--text-light);
    box-shadow: var(--box-shadow-primary);
}

.myCardsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myCardsList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.card {
    width: 315px;
    height: 235px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-light);
    box-shadow: var(--box-shadow-primary);

    hr {
        margin: 10px 0 15px 0;
        border: 0.5px solid var(--text-light);
    }
}

.cardIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: fit-content;
        object-fit: fill;

        &:nth-child(1) {
            height: 25px;
        }

        &:nth-child(2) {
            height: 30px;
        }
    }
}

.cardFlex {
    display: flex;
    justify-content: space-between;

    .cardInfo:nth-child(2) {
        align-items: center;
    }
}

.cardInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;

    span:nth-child(1) {
        letter-spacing: 0.5px;
    }

    span:nth-child(2) {
        font-weight: 500;
        letter-spacing: 1.5px;
    }
}

.cardAction {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
