// .searchBox {
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     z-index: 1;
//     // width: 63.5%;
//     // height: 50px;
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     // background-color: #fff;
//     // border-radius: 5px;
//     // box-shadow: 0px 10px 25px #727272;
//     // padding: 10px 20px;
// }

.searchBar {
    max-width: 80%;
    text-align: center;
    margin: 50px auto;

    form {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        // margin: 30px auto;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--bg-dark);
        box-shadow: var(--box-shadow-small);
    }

    button {
        flex: 1;
        width: 100%;
        min-width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: var(--primary);
        color: var(--white);
        cursor: pointer;
        box-shadow: var(--box-shadow-small);
        transition: all ease 0.3s;

        &:hover {
            background-color: var(--primary-hover);
        }
    }
}

.box {
    flex: 4;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 50px;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: var(--text-light);
    background-color: var(--bg-dark-hover);
    border-radius: 50%;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 150px;
    font-size: 0.8rem;

    label {
        font-weight: 500;
        color: var(--text-light);
        margin-bottom: 4px;
        text-align: left;
    }

    input {
        width: 100%;
        padding: 5px 10px;
        color: var(--text-light);
        background-color: var(--bg-dark-hover);
    }
}

::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1);
}

::placeholder,
input[type='date'] {
    color: var(--text-light);
}
