.myAccount {
    padding: 15px;
    background-color: var(--bg);
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);

    hr {
        margin: 15px 0;
        border: 0.5px solid var(--text-light);
    }
}

.infoBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.inputFlex {
    display: flex;
    gap: 15px;
}

.infoBottom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}
