.sectionSlider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    min-height: 100vh;
    padding: 8em 5em 2em 5em;
    background-color: var(--white);
    background-image: url('https://www.transparenttextures.com/patterns/church.png');
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.hero-image {
    width: 105%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hi-1 {
    background-image: url('https://images.unsplash.com/photo-1536086845112-89de23aa4772?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

.hi-2 {
    background-image: url('https://images.unsplash.com/photo-1526139334526-f591a54b477c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

.hi-3 {
    background-image: url('https://images.unsplash.com/photo-1639458131380-4d71538ef1df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1903&q=80');
}

.hi-4 {
    background-image: url('https://images.unsplash.com/photo-1492161587417-3562f41c95fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80');
}

.hi-5 {
    background-image: url('https://images.unsplash.com/photo-1445272727255-681d14e89af1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80');
}

.page-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    user-select: none;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.05) 100%);
    box-shadow: var(--box-shadow-primary);
    z-index: 0;
}

.titleSlider {
}

article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--i);
}

.hero-info {
    position: absolute;
    top: 45%;
    left: 5%;
    transform: translateY(-95%);
    z-index: 10;
}

.hero-info h1 {
    color: var(--white);
    font-size: clamp(3.2rem, 10vw, 6rem);
    line-height: clamp(3.2rem, 10vw, 6rem);
    text-transform: uppercase;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.hero-info h2 {
    font-size: clamp(2rem, 9vw, 4rem);
    line-height: clamp(2rem, 9vw, 4rem);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 3px var(--pill);
    text-shadow: none;
}

.hero-info h3 {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 15px;
}
