.page-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    user-select: none;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.05) 100%);
    box-shadow: var(--box-shadow-primary);
    z-index: 0;
}

.titleSlider {
    article {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: var(--i);
    }
}

.hero-info {
    position: absolute;
    top: 43%;
    left: 2.9%;
    width: 100%;
    transform: translateY(-95%);
    z-index: 10;

    h1 {
        color: var(--white);
        font-size: clamp(3.2rem, 10vw, 6rem);
        line-height: clamp(3.2rem, 10vw, 6rem);
        text-transform: uppercase;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    }

    h2 {
        font-size: clamp(2rem, 9vw, 4rem);
        line-height: clamp(2rem, 9vw, 4rem);
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 3px var(--pill);
        text-shadow: none;
    }

    h3 {
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 15px;
    }
}
