.wrapperHome {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    user-select: none;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.05) 100%);
    box-shadow: var(--box-shadow-primary);
}

.videos {
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        opacity: 0;
        transition: opacity 2s;
    }
}

video.live {
    opacity: 1;
}

.videoControls {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-175%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    padding: 20px;
    z-index: 1;

    h1 {
        color: var(--white);
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1px;
        margin-inline: 1.2rem;
        line-height: 3.8rem;
        margin: 10px 15px;
    }

    svg {
        width: 4rem;
        fill: var(--white);
        cursor: pointer;
        transition: ease-in-out 0.15s;
    }
}

.prev:hover {
    transform: translateX(-5px);
}

.next:hover {
    transform: translateX(5px);
}

.contentBox {
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-95%);
    margin: 0 25px;
    padding: 20px;
    color: var(--white);
    z-index: 1;

    h1 {
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 3.8rem;
        margin: 10px 0;
    }
}
